.sidebar__inner {
    /*background: #eee;*/
    background: #fff;
}

body {
    background: #fff;
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-menu-item .menu-icon, .sidebar[class*="overlay"] .sidebar__menu .sidebar-menu-item .menu-title {
    color: #000;
    font-weight: bold;
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item a .menu-icon, .sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item a .menu-title {
    color: #000;
    font-weight: bold;
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item.active a .menu-icon, .sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item.active a .menu-title, .sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item:hover a .menu-icon, .sidebar[class*="overlay"] .sidebar__menu .sidebar-submenu .sidebar-menu-item:hover a .menu-title {
    color: #000;
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-menu-item > a:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-menu-item > a.side-menu--open, .sidebar[class*="overlay"] .sidebar__menu .sidebar-menu-item.active > a {
    background-color: rgba(0, 0, 0, 0.12);
}

.sidebar[class*="overlay"] .navbar__expand::before {
    background-color: #000;
}

.navbar__expand::after {
    border-color: #000;
}

.sidebar[class*="overlay"] .sidebar__menu .sidebar-dropdown > a::before {
    color: #000;
}

.navbar-wrapper {
    /*background: #eee;*/
    background: #fff;
}

.navbar__right > .navbar__action-list > li > a {
    color: #000;
}

.navbar__right > .navbar__action-list > li > a:last-child {
    color: #eee;
}

#button-background {
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.lockslide-text {
    color: #000;
}

.fontcolorblack {
    color: #000;
}

.fontcolorwhite {
    color: #5b6e88;
    background-color: transparent !important;
    border: 1px solid #ced4da;
}

.fontcolorwhite > i {
    color: #5b6e88;
}

.fontcolorblack > span {
    color: #000;
}

.fontcolorblack select {
    color: #000;
}

.side__menu__bage__num {
    background: none !important;
    box-shadow: none !important;
    color: #000 !important;
}

table.table--light thead th {
    background-color: transparent;
    color: #000;
}

.monitor-section {
    background-color: #ddd !important;
}

.monitor-section > div:nth-child(4) {
    border-left: 13px solid #ddd !important;
}

.monitor-section.active > div:nth-child(4) {
    border-left: 13px solid #336699 !important;
}

.monitor-section.active {
    background-color: #336699 !important;
}

.noactiveptext {
    color: #000 !important;
}

.monitor-product-desktop-name {
    border-color: #000 !important;
}

.monitor-product-name {
    border-color: #000 !important;
}

.userfootnav_main {
    background: #fff !important;
}

.userfootnav_main > .container > div > div > a > i {
    color: #000 !important;
}

.userfootnav_main > .container > div > div > a > span {
    color: #000 !important;
}

.userfootnav_main > .container > div > div > button > i {
    color: #000 !important;
}

.userfootnav_main > .container > div > div > button > span {
    color: #000 !important;
}

.userfootnav_main > .container > div > div > a.active > i {
    color: #000 !important;
    font-weight: bold;
}

.userfootnav_main > .container > div > div > a.active > span {
    color: #000 !important;
}

.userfootshoppingcountsec {
    color: #fff !important;
}

#highImgModal {
    background: #ddd !important;
}

#highImgModal .modal_image_content_big {
    background-color: #ddd !important;
}

#highImgModal .img_scale_slider > .slider {
    background: #000 !important;
}

#highImgModal .img_scale_slider > p {
    color: #000 !important;
}

#highImgModal .img_scale_slider > p > span {
    color: #000 !important;
}

.navbar__action-list li button > i {
    color: #000 !important;
}

.packedspantext {
    color: brown !important;
    background-color: #dcb0b1 !important;
}

.bonus-back {
    border: 1px solid #000 !important;
    background: #f3f5f7 !important;
}

.bonus-back-show {
    border: 1px solid #000 !important;
    border-style: solid none solid solid !important;
}

.card-header {
    background: #f3f5f7 !important;
}

.card-body {
    /*background: #f3f5f7 !important;*/
    background: #fff !important;
}

.status-main > .paidstatus {
    background: #f3f5f7 !important;
    color: #000 !important;
}

.status-main > .pickedstatus {
    background: #f3f5f7 !important;
    color: #000 !important;
}

.status-main > .packedstatus {
    background: #f3f5f7 !important;
    color: #000 !important;
}

.status-main > .transitstatus {
    background: #f3f5f7 !important;
    color: #000 !important;
}

.status-main > .transitstatus > a {
    color: #000 !important;
}

.status-main > .pickedstatusinactive {
    color: #fff !important;
}

.status-main > .packedstatusinactive {
    color: #fff !important;
}

.status-main > .transitstatusinactive {
    color: #fff !important;
}

.high_img_modal_close > span {
    color: #000 !important;
    border-color: #000 !important;
}

.selected_img_download > a > i {
    color: #000 !important;
}

#lockslider {
    color: #5b6e88 !important;
    border: 1px solid;
    background-color: #fff !important;
}

.perforatedstick {
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.bidcalc_select {
    background-color: transparent !important;
}

.lowstatusticketspan {
    color: #000 !important;
}

.fontcolorwhite {
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.addbidamount {
    border-color: rgba(0, 0, 0, 0.6) !important;
}

.res-sidebar-close-btn {
    background: #eee !important;
    color: #000 !important;
}

.currencyicon {
    color: #919293 !important;
}

/* wsa dark */
.homebutton{
    font-size: 26px;
    color: #000;
}
/* wsa dark */